.reg-container {
    padding: 40px 60px;
    font-family: "Poppins", sans-serif;
  }
  
  .reg-container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
  }
  
  .reg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
  }
  
  .reg-card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
  }
  
  .desc {
    margin-top: 10px;
    color: #475569;
  }
  
  .withdraw-btn {
    margin-top: 12px;
    padding: 10px;
    width: 100%;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .withdraw-btn:hover {
    opacity: 0.9;
  }
  .unregister-btn {
    background: #ef4444;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .unregister-btn:hover {
    opacity: 0.85;
  }
  